<h1 style="text-align: center; margin-top: 20px">Projects</h1>

<div id="projects container" style="margin-top: 20px">
  <div class="row">
    <div class="col-sm all-project text-center">
      <button style="width: 80%" type="button" class="btn btn-outline-secondary">✲ All projects</button>
      <% @projects.each do |project| %>
        <%= render project %>
        <p>
          <%= link_to "Show this project", project %>
        </p>
      <% end %>
    </div>
    <div class="col-sm my-project text-center">
      <button style="width: 80%" type="button" class="btn btn-outline-secondary">🖊 Created by me</button>
    </div>
    <div class="col-sm shared-project text-center">
      <button style="width: 80%" type="button" class="btn btn-outline-secondary">👥 Shared with me</button>
    </div>
  </div>
</div>