<div class="col-lg-6 offset-lg-3">
  <h1 class="text-center">New project</h1>

  <%= render "form", project: @project %>

  <br>
</div>

<div class="text-center">
  <%= link_to "Back to projects", projects_path, class: "btn btn-outline-primary" %>
</div>
